<h2>Sign up Here!</h2>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="username"><br>
  <input type="email" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" name="submit" value="submit">
</form>